/JPushAndroidLibrary/JPushAndroidLibrary/bin/Debug/JPushAndroidLibrary.dll
/JPushAndroidLibrary/JPushAndroidLibrary/bin/Debug/JPushAndroidLibrary.dll.mdb
/JPushAndroidLibrary/JPushAndroidLibrary/bin/Debug/JPushAndroidLibrary.pdb
/JPushAndroidLibrary/JPushAndroidLibrary/bin/Release/JPushAndroidLibrary.dll
/JPushAndroidLibrary/JPushAndroidLibrary/bin/Release/JPushAndroidLibrary.dll.mdb
/JPushAndroidLibrary/JPushAndroidLibrary/bin/Release/JPushAndroidLibrary.pdb
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/CoreCompileInputs.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/JPushAndroidLibrary.csproj.FileListAbsolute.txt
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/JPushAndroidLibrary.csprojResolveAssemblyReference.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/JPushAndroidLibrary.dll
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/JPushAndroidLibrary.pdb
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/__AndroidNativeLibraries__.zip
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/__library_projects__/System.Runtime.stamp
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/api.xml
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/api.xml.fixed
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/metadata
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.BaseLogger.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.BasePreferenceManager.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.IJAction.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.IJAnalyticsAction.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.JActionExtra.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.JCoreInterface.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.JProtocol.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.JRequest.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.JResponse.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.MultiSpHelper.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.SdkType.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.Utils.ByteBufferUtils.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.Utils.OutputDataUtil.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Api.Utils.ProtocolUtil.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Net.HttpConstants.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Net.HttpRequest.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Net.HttpResponse.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Net.HttpUtils.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jiguang.Service.Protocol.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.BasicPushNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.CustomPushNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.DefaultPushNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.IPushNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.ITagAliasCallback.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.InstrumentedActivity.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.InstrumentedListActivity.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.JPluginPlatformInterface.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.JPushInterface.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.JPushMessage.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Api.MultiActionsNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Data.JPushLocalNotification.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Data.JPushView.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Service.AlarmReceiver.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Service.DaemonService.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Service.DataProvider.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Service.JPushMessageReceiver.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Service.PushReceiver.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Service.PushService.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Service.ServiceInterface.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.Service.TagAliasReceiver.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.UI.FullScreenView.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.UI.PopWinActivity.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/CN.Jpush.Android.UI.PushActivity.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/JPushAndroidLibrary.projitems
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/Java.Interop.__TypeRegistrations.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/__NamespaceMapping__.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/src/enumlist
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generated/type-mapping.txt
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/generator.stamp
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/libraryimports.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/libraryprojectimports.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/native_library_imports/arm64-v8a/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/native_library_imports/armeabi-v7a/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/native_library_imports/armeabi/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/native_library_imports/x86/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/native_library_imports/x86_64/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Debug/resourcepaths.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/CoreCompileInputs.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/JPushAndroidLibrary.csproj.FileListAbsolute.txt
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/JPushAndroidLibrary.csprojResolveAssemblyReference.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/JPushAndroidLibrary.dll
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/JPushAndroidLibrary.pdb
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/__AndroidNativeLibraries__.zip
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/__library_projects__/System.Runtime.stamp
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/api.xml
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/api.xml.fixed
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/metadata
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Android.ShareValues.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.BaseLogger.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.BasePreferenceManager.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.IJAction.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.IJAnalyticsAction.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.JActionExtra.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.JCoreInterface.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.JProtocol.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.JRequest.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.JResponse.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.MultiSpHelper.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.SdkType.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.Utils.ByteBufferUtils.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.Utils.OutputDataUtil.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Api.Utils.ProtocolUtil.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Net.HttpConstants.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Net.HttpRequest.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Net.HttpResponse.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Net.HttpUtils.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jiguang.Service.Protocol.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.BasicPushNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.CustomPushNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.DefaultPushNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.IPushNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.ITagAliasCallback.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.InstrumentedActivity.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.InstrumentedListActivity.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.JPluginPlatformInterface.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.JPushInterface.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.JPushMessage.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Api.MultiActionsNotificationBuilder.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Data.JPushLocalNotification.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Data.JPushView.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Service.AlarmReceiver.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Service.DaemonService.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Service.JPushMessageReceiver.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Service.PushReceiver.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Service.PushService.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Service.ServiceInterface.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.Service.TagAliasReceiver.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.UI.FullScreenView.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.UI.PopWinActivity.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/CN.Jpush.Android.UI.PushActivity.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/JPushAndroidLibrary.projitems
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/Java.Interop.__TypeRegistrations.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/__NamespaceMapping__.cs
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/src/enumlist
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generated/type-mapping.txt
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/generator.stamp
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/libraryimports.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/libraryprojectimports.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/native_library_imports/arm64-v8a/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/native_library_imports/armeabi-v7a/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/native_library_imports/armeabi/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/native_library_imports/x86/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/native_library_imports/x86_64/libjcore116.so
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/resourcepaths.cache
/JPushAndroidLibrary/JPushAndroidLibrary/obj/Release/sdks.cache
